<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <i class="fas fa-at"></i><%= user.username %>
            </h1>
            <h2 class="subtitle">
                <%= user.name %>
            </h2>

            <a class="button is-dark is-outlined" href="/">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back</span>
            </a>
            <form method="POST" action="/<%= user.username %>?_method=DELETE" style="display: inline;">
                <button class="button is-danger" type="submit">
                    <span class="icon is-small">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button>
            </form>
        </div>
    </div>
</section>